attribution==1.5.2
black==22.6.0
coverage==6.2; python_version < "3.7"
coverage==6.4.4; python_version >= "3.7"
flake8==5.0.4
flit==3.7.1
mypy==0.971
sphinx==4.3.1; python_version < "3.8"
sphinx==5.1.1; python_version >= "3.8"
ufmt==2.0.0
usort==1.0.4
